*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Common Styles */
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.375rem;
}
.container{
  max-width: 71.25rem;
  margin: 0 auto;
}
.display-flex{
  display: flex;
}


/* Navbar */
.navbar{
  justify-content: space-between;
  margin-top: 1.875rem;
  align-items: center;
}
.navbar ul{
  list-style: none;
  gap: 3rem;
}
.navbar ul li a{
  text-decoration: none;
  color: #8987A1;
  font-size: 1rem !important;
}
ul li:nth-child(1) a{
  color: #252432;
  font-weight: 700;
}
ul li:last-child a{
  color:#000000;
}

/* Banner Section */
main{
    margin-top: 7.5rem;
}

.banner{
  align-items: end;
}
.banner-title{
  color: #E95A08;
  font-size: 4.0625rem;
}
.banner-title > span {
  color: #000000;
}

/* Plant Section */
.plant-section{
  text-align: center;
  margin: 7.5rem 0 3rem 0;
}

.plant-section h1{
  color: #E95A08;
  font-size: 3.125rem;
}

.plant-section span {
  color: #000000;
  font-size: 3.125rem;
}
.plant-section p{
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 1.75rem;
}

/* Responsive For mobile */
@media screen and (max-width: 576px) {
  ul li:nth-child(1) a , ul li:nth-child(2) a , ul li:nth-child(3) a{
  display: none;
}
.navbar{
  width: 100%;
  padding: 0 1rem;
}
.nav-img{
  max-width: 100%;
}
.banner{
  flex-direction: column-reverse;
  gap: 1.75rem;
}
.banner-right img{
  max-width: 100%;
}
.noto-serif{
  font-size: 1.5rem;
}
.inter{
  font-size: 0.875rem;
}
.banner-left{
  padding: 0 1rem;
}
main , .banner-description{
    margin-top: 1.75rem;
}
.plant-section{
  margin: 4rem 0 1.75rem 0;
}
}